@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

:root {
 font-family: 'Rozha One', serif;
 background-color: #FFFAFA;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.notes,#notes {
  text-align:center;
  margin-top: 34px;
  list-style:none;
  margin-left: 0;
  padding-left: 0;
  line-height:31px;
  text-transform: capitalize;
}

.sandal {
  text-align:center;
  margin-top: 34px;
  list-style:none;
  margin-left: 0;
  padding-left: 0;
  line-height:31px;
}

.clearfix { display: inline-block; }

/* start commented backslash hack \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; margin:10px; }

/* close commented backslash hack */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
  margin: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

em:focus {
 outline: none;
}

.infinity path {
 fill: orange;
}

.chakra {
  animation: blinker 1s linear infinite;
  margin-top: 10px;
}

#log {
   color:#032425;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#ingr-4 {
 color:#032425;
 margin-top:12px;
}
